@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    background-color: #f2f2f2;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/*======================= NAV =======================*/

nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 2px 5px #347928;
}

nav .wrapper_nav{
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 60px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.wrapper_nav .logo a{
    color: #347928;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}
  
.wrapper_nav .nav-links{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 5px;
    margin-right: 25px;
}

.nav-links li{
    list-style: none;
}
  
.nav-links li a{
    color: #347928;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover{
    background: #347928;
    color: #ffffff
}


.nav-links .mobile-item{
    display: none;
}
  
.nav-links .drop-menu{
    position: absolute;
    background: #347928;
    width: 100%;
    line-height: 80px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    left: 0;
}
  
.nav-links li:hover .drop-menu{
    transition: all 0.3s ease;
    top: 60px;
    opacity: 1;
    visibility: visible;
}
  
.drop-menu li a{
    display: inline-block;
    padding: 0 15px;
    font-weight: 400;
    border-radius: 0px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.drop-menu li a:hover{
    transform: scale(1.25) translateY(-4px);
    background: none;
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cart_icon{
    display: flex;
    align-items: center;
    position: relative;
}

.cart_icon span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 2px #347928 solid;
    color: #347928;
    border-radius: 50%;
    position: absolute;
    right: -20px;
    top: -1px;
}
  
.header-right .cart_icon a,
.header-right .user_icon a {
    color: #347928;
    font-size: 24px; 
    text-decoration: none; 
    list-style: none; 
    transition: all 0.3s ease;

    width: 2em;
    height: 2em;
    border: 1px #347928 solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.header-right a:hover {
    color: #ffffff;
    background-color: #347928;
}
  
.wrapper_nav .btn{
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
  
.wrapper_nav .btn.close-btn{
    position: absolute;
    right: 30px;
    top: 10px;
}

nav input{
    display: none;
}

/*======================= USER =======================*/

.user_sidebar {
    position: fixed;
    right: -100%;
    top: 0;
    height: 100vh;
    width: 100%;
    max-width: 420px;
    background: #347928;
    box-shadow: 0px 2px 5px #242526;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: all 0.3s ease;
    z-index: 1000;
    overflow-y: auto; 
}
  
.user_sidebar .close_user {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    border: none;
    background: none;
}
  
.user_header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name_user{
    height: 30%;
}

.user_header h2 {
    color: #fff;
}

.user_header h4{
    color: #ffffffdc;
    font-style: italic;
}
  
.user_items {
    list-style: none;
    padding: 0;
    width: 100%;
    overflow-y: auto;
    flex: 1;
}
  
.user_item {
    background: #ffffff;
    box-shadow: 0px 2px 5px #24252694;
    color: #242526;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 60px;
    position: relative;
    font-size: 15px;
}
  
.user_item .remove_item {
    width: 30px;
    height: 30px;
    background: #C0EBA6;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
  
.user_item .remove_item span {
    color: #242526;
    font-size: 20px;
    user-select: none;
    display: flex;
    align-items: center;
}
  
.user_item .item_details {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.item_details_title_user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.725rem;
    transition: all 0.3s ease-out;
}

.item_details_title_user:hover{
    transform: scale(1.15) translateY(-4px);
}
  
.user_item .item_details .item_details_title_user a {
    margin: 0;
    font-weight: 500;
    text-decoration: none;
    color: #242526;
}
  
.user_item .item_details .item_details_title_user i {
    font-size: 20px; 
    color: #242526;
}

.user_sidebar::-webkit-scrollbar {
    width: 10px;
}
  
.user_sidebar::-webkit-scrollbar-track {
    background: var(--white);
}
  
.user_sidebar::-webkit-scrollbar-thumb {
    background: #242526;
}

/*======================= MAIN =======================*/

.content{
    flex: 1;
    padding: 80px 20px 20px; /* Ajusta el padding superior para evitar que el contenido quede debajo del header */
    display: flex;
    justify-content: center;
    align-items: center;
}

/*======================= TABLE =======================*/

.table{
    width: 100%;
    border: 1px solid #347928;
}

/*==================== HEADER TABLE ====================*/

.table_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #347928;
    flex-direction: row;
}

.table_header p{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.search_container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.search_input{
    font-size: 18px;
    background: #C0EBA6;
    color: #242526;
    height: 35px;
    width: 100%;
    padding: 0 10px 0 15px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.search_input:hover, .search_input:focus{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.search_button{
    font-size: 25px;
    font-weight: 500;
    color: #347928;
    height: 40px;
    width: 100px;
    border: 1px #C0EBA6 solid;
    border-radius: 50%;
    outline: none;
    background: #ffffff;
    cursor: pointer;
    transition: .3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_button:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-input-placeholder{
    color: #242526;
}

/*==================== LIST TABLE ====================*/

.table_section{
    height: 650px;
    overflow: auto;
}

table{
    width: 100%;
    table-layout: fixed;
    min-width: 900px;
    border-collapse: collapse;
}

thead th{
    position: sticky;
    top: 0;
    background-color: #C0EBA6;
    color: #242526;
    font-size: 14.5px;
}

th, td{
    border-bottom: 1px solid #347928;
    padding: 10px;
    word-break: break-all;
    text-align: center;
    word-break: keep-all;
}

td img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid #347928;
}

tr:hover td{
    color: #C0EBA6;
    cursor: pointer;
    background-color: #242526;
}

td button{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 5px;
    color: #ffffff;
}

td button i{
    font-size: 20px;
}

td a{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 6px;
    padding-top: 10px;
    color: #ffffff;
}

td a i{
    font-size: 20px;
}

.button_status_1, .button_action_1{
    background-color: #185519;
}

.button_status_2, .button_action_2{
    background-color: #B8001F;
}

::-webkit-scrollbar{
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

/*==================== PAGINATION TABLE ====================*/

.pagination{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff;
    border-top: 1px solid #347928;
}

.pagination div{
    padding: 10px;
    border: 2px solid #C0EBA6;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #347928;
    color: #ffffff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    margin: 0 5px;
    cursor: pointer;
}

/*======================= FOOTER =======================*/

.footer{
    width: 100%;
    position: relative;
    bottom: 0;
}

.footer-box{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    background-color: #347928;
    padding: 0.2rem 7%;
}

.footer-text{
    color: #f2f2f2;
    font-size: 15px;
    font-weight: 600;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer-creater{
    display: flex;
    align-items: center;
}

.footer-creater a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
}

/*======================= MEDIA QUERY =======================*/

@media screen and (max-width: 970px) {
    
    .wrapper_nav {
        justify-content: space-between;
    }
  
    .header-right {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
    }
  
    .wrapper_nav .btn{
        display: block;
    }

    .wrapper_nav .nav-links{
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        top: 0;
        left: -100%;
        background: #347928;
        display: block;
        padding: 50px 10px;
        line-height: 50px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
        gap: 0px;
        transition: all 0.3s ease;
        z-index: 999;
        margin-right: 0px;
    }

    .btn.menu-btn{
        color: #347928;
    }
    
    /* custom scroll bar */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #ffffff;
    }

    ::-webkit-scrollbar-thumb {
        background: #242526;
    }

    #menu-btn:checked ~ .nav-links{
        left: 0%;
    }

    #menu-btn:checked ~ .btn.menu-btn{
        display: none;
    }

    #close-btn:checked ~ .btn.menu-btn{
        display: block;
    }

    .nav-links li{
        margin: 15px 10px;
    }

    .nav-links li a{
        padding: 0 20px;
        display: block;
        font-size: 20px;
        color: #ffffff;
    }

    .nav-links .drop-menu{
        position: static;
        opacity: 1;
        top: 65px;
        visibility: visible;
        padding-left: 20px;
        width: 100%;
        line-height: 45px;
        max-height: 0px;
        overflow: hidden;
        box-shadow: none;
        transition: all 0.3s ease;
    }

    #showDrop:checked ~ .drop-menu{
        max-height: 100%;
    }

    .nav-links .desktop-item{
        display: none;
    }

    .nav-links .mobile-item{
        display: block;
        color: #f2f2f2;
        font-size: 20px;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .nav-links .mobile-item:hover{
        background: #ffffff;
        color: #347928;
    }
  
    .nav-links .drop-menu {
        flex-direction: column;
        align-items: flex-start; /* Alinea los elementos al lado izquierdo */
    }
  
    .drop-menu li{
        margin: 0;
    }

    .drop-menu li a{
        border-radius: 5px;
        font-size: 18px;
        padding-left: 15px;
    }
  
}

@media only screen and (max-width: 455px) {

    .wrapper_nav .logo a{
        font-size: 20px;
    }
}

@media screen and (max-width: 970px) {
    .user_sidebar {
      width: 100%;
      max-width: none;
      height: 100vh;
    }
  
    .user_sidebar .close_user {
      position: absolute;
      top: 20px;
      right: 20px;
    }
}

@media screen and (max-width: 970px){
    .content{
        flex: 1;
        padding: 100px 20px 50px;
    }
}

@media screen and (max-width: 970px){
    .table_header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .table_name{
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 690px){
    .search_container{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
        flex-direction: column;
    }

    .table_form{
        width: 55%;
    }

    .search_button {
        height: 40px;
        width: 40px;
    }
}

@media screen and (max-width: 970px){
    .footer-box {
        display: flex;
        gap: 0;
        flex-direction: column;
        align-items: center;
    }
}